# Dependencies
node_modules

# Angular
.angular
dist

# Logs
logs
*.log

# Environment
.env
.env.*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Python
__pycache__
*.pyc
venv

# Coverage
coverage

# Build
build